<% @customers.each do |customer| %>
<div>
  <%= link_to admin_customer_path(customer.id) do %>
  <p>
   名前：<%= customer.last_name %>
   メールアドレス：<%= customer.email %>
   <% if customer.is_deleted == false %>
    会員ステータス: 有効
    <% else %>
    会員ステータス: 退会
   <% end %>
  </p>
  <% end %>
</div>
<% end %>